* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3a3f47;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar h1 {
    font-size: 2rem;
}

.navbar label {
    margin-right: 15px;
    font-size: 1rem;
}

.navbar select,
.navbar button {
    padding: 8px 12px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar select:hover {
    background-color: #f1f1f1;
    border-color: #bbb;
}
.navbar button:hover{
    background-color: #1100ff;
    border-color: #bbb;
    color: #fff;
}

/* Main content styling */
main {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 82px);
}

.output {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    transition: all 0.3s ease;
}

.output h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #061df3;
}

.output p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.output img {
    margin-top: 20px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.output img:hover {
    transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar h1 {
        margin-bottom: 10px;
    }

    main {
        padding: 20px;
    }

    .output {
        padding: 20px;
    }
}